* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F6FF;
}

.header-section {
    padding: 50px;
    line-height: 50px;
}

#ht-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#ht-2 {
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.main-container {
    height: 100vh;
    gap: 20px; 
}

.translation-inner {
    display: flex;
    border-radius: 10px;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
    align-items: stretch;
    height: calc(60% - 10px);
}

.child-container {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

#video-container {
    background-color: white;
}

#translation-container {
    background-color: white;
}

/* Video container design */
.camera-container {
    aspect-ratio: 16 / 9;
}

.camera-container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scaleX(-1);
}

.box {
    padding: 30px;
}

#non-text-signal {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#non-text-signal.show {
    opacity: 1;
}

/*
#video {
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: scaleX(-1);
*/

/* Main body design */
.main-body {
    width: 100%;
}

.container-title {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-weight: bold;
    border-bottom: 0.1px solid gray;
}

.container-title i {
    font-size: 20px;
}

/* Navbar tab desgin */
.layout {
    display: flex;
    gap: 20px;
    width: 100%;
}

.tip-container {
    background-color: #013366;
    color: #ffffff;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-top: 45%;
}


/* Make main content take remaining width */
.main-container {
    flex: 1;
}


.btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}